@charset "utf-8";

@font-face {
	font-family: Champagne;
	src: url('cac_champagne.woff') format('woff'),
	     url('cac_champagne.ttf') format('truetype');
}

@font-face {
	font-family: Grunge;
	src: url('1942.woff') format('woff'),
	     url('1942.ttf') format('truetype');
}

@font-face {
	font-family: Dobkin;
	src: url('DobkinPlain.woff') format('woff'),
	     url('DobkinPlain.ttf') format('truetype');
}

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Kerry Creech
   Date:  1/24/21 
   
   Filename: ph_styles.css

*/


/* Structural Styles */

html {
	background-color: hsl(91, 8%, 56%);
}

body {
	background-color: hsl(58,31%, 84%);
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

body > p {
	font-size: 1.1em;
	text-align: center;
}

header {
	background-color: black;
}

p {
	margin: 0px;
	padding-top: 5px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom:	25px;
}

address {
	font-style: normal;
	font-size: 0.9em;
	text-align: center;
	padding-top: 10px;
    padding-bottom: 10px;	
}



/* Navigation Styles */

nav a {
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	padding-top: 10px;
    padding-bottom: 10px;
}

nav a:link, nav a:visited {
	color: white;
	background-color: hsla(0, 0%, 42%, 0.4);
	text-decoration: none;
}

nav a:hover, nav a:active {
	color: hsla(0, 0%, 100%, 0.7);
	background-color: hsl(0, 0%, 42%, 0.7);
}




/* Section Styles */

section.playbill h1 {
	font-size: 3em;
	font-weight: normal;
	margin: 0px;
	padding-top: 20px;
    padding-right: 0px;
	padding-bottom: 10px;
    padding-left:	20px;
}

section.playbill#play1 {
	background-color: hsl(240,100%, 88%);
}

section.playbill#play2 {
	background-color: hsl(25, 88%, 73%);
}

section.playbill#play3 {
	background-color: hsl(0, 100%, 75%);
}

section.playbill#play4 {
	background-color: hsl(296, 86%, 86%);
}

section.playbill#play1 h1 {
	font-family: Champagne, cursive;
}

section.playbill#play2 h1 {
	font-family: Grunge, ‘Times New Roman’, Times, serif;
}

section.playbill#play3 h1 {
	font-family: Impact, Charcoal, sans-serif;
}

section.playbill#play4 h1 {
	font-family: Dobkin, cursive;
}




/* Description List Styles */

dt {
	font-size: 1.3em;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	font-weight: bold;
	color: hsla(0, 0%, 0%, 0.4);
}

dd {
	font-size: 1.3em;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	margin-left: 0px;
	margin-bottom: 10px;
}

